
<div >
  <ion-view view-title="Nota">
    <ion-content>
      <div class=" list card">

        <div class="item item-input-inset">
          <label class="item-input-wrapper">
              <input ng-model="title" type="text"  placeholder="Titulo">
          </label>
        </div>

          <div class="item-input">
            <textarea ng-model="description" >"hoasdf"</textarea>
          </div>
        </div>
        <div class="button-bar">
  <a class="button button-asertive">cancelar</a>
  <a class="button"  ng-click="saveNota(title,description)">guardar</a>
</div>
    </ion-content>

  </ion-view>
  </div>
