
<div >
  <ion-view view-title="Nota">
    <ion-content>
      <div class=" list card">

        <div class="item item-input-inset">
          <label class="item-input-wrapper">
              <input type="text"  placeholder="Titulo">
          </label>
        </div>

          <div class="item-input">
            <textarea >"hoasdf"</textarea>
          </div>
        </div>
    </ion-content>
    <ion-content class="has-footer">

</ion-content>
<ion-footer-bar align-title="left" class="bar-stable">
  <div class="buttons">
    <button class="button button-assertive">Cancelar</button>
  </div>
  <h1 class="title"></h1>
  <div class="buttons" ng-click="doSomething()">
    <button class="button button-calm">Guardar</button>
  </div>
</ion-footer-bar>
  </ion-view>
  </div>
