
<ion-view  view-title="Trémolo">

  <ion-nav-bar align-title="center" class="bar bar-header bar-positive" style="background-color:#efebe">

  </ion-nav-bar>
   
  <form name="loginForm" novalidate >
  <ion-content style="z-index: 1">
    <ion-list>
      <div class="text-center">
        <img src="img/LogoUA.png" alt="logo" class="width-150-px top-30-pc" /></div>
      <div class="list">
        <h5 class="color-white text-center cursive">Universidad de la Amazonia</h5>
        <label ng-model="user.user"class="item item-input item-floating-label">
            <span class="input-label">Usuario</span>
            <input ng-model="user.user" type="text" placeholder="Usuario">
      </label>
        <label class="item item-input item-floating-label">
        <span class="input-label">Contraseña</span>
        <input ng-model= "user.password" type="password" placeholder="Contraseña">
      </label>

        <button ng-disabled="!valid()"  ng-click="login(user)" class=" centerButton button button-outline button-balanced" >
                    Iniciar sesión
                </button>
                <div class=" text-center ">
                <ion-spinner icon="spiral"  ng-if="loading"></ion-spinner>
                </div>

      </div>
    </ion-list>
  </form>
  </ion-content>
</ion-view>
